{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Tweeter-In-Chief<small>  Stay up with the president's statements</small></h1>
  </div>
</div>


<p>These are the Top 20 Most Popular tweets from President Donald Trump.
This list begins with tweets made on Inauguration Day, Jan. 20, 2017. The "most
popular" calculation is a simple one, adding together "retweets" and "likes". The
list updates each time you return to it, so check back often!
</p>


  {% autoescape off %}
    {% for tweet in popular_tweets %}
    <h1>{{ forloop.counter }}.</h1> {{ tweet }}
    {% endfor %}
  {% endautoescape %}



{% endblock %}
