{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweeter-In-Chief</title>


    <link rel="stylesheet" href="{% static "chief_app/css/bootstrap.css" %}" media="screen" title="bootstrap" charset="utf-8">
    <link rel="stylesheet" href="{% static "chief_app/css/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">

            <img class="small" src="/static/chief_app/images/trump1_campaign.jpg" />
                <p class="label" href=#>Tweeter-In-Chief.US</p>

          </div>
    </nav>
    <div class="container">

      {% block content %}
        No content provided
      {% endblock %}
      <br>
      <h5>&copy;2016. Built by Hope E. Paasch, <a href="http://www.hepaasch.com">www.hepaasch.com</a></h5>
    </div>
  </body>
</html>
