/*body{
  font-family: 'Noto Sans', sans-serif;
}


div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.navbar{
  height: 70px;
  margin-bottom: 0;
}

.navbar .btn{
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}*/
